<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>UNX Digital</title>
    <style type="text/css">
        body {
            margin-left: 0px;
        }
    </style>
</head>

<body>
    <p>&nbsp;</p>
    <table width="330" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="330">
                <table width="330" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="100%" valign="top">
                            <img src="https://drive.google.com/uc?export=download&id=1LlHuZXYESDDQ8PVlhegpYRnRF1FmPBi5"
                                width="200" height="66" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="255" border="0" cellpadding="10" cellspacing="0">
        <tr>
            <td width="255">
                <hr color="#e2e2e2" style="margin-bottom: 20px;">
            </td>
        </tr>
    </table>
    <table width="330" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="330">
                <table width="330" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width=10></td>
                        <td width="309">
                            <font style="font-family: Google Sans, Roboto, sans-serif; color: #000000; font-size: 15px; line-height: 21px;"><strong>{{fullName}}</strong></font>
                        </td>
                    </tr>
                    <tr>
                        <td width="10"></td>
                        <td width="309" height="5">
                            <font style="font-family: Google Sans, Roboto, sans-serif; color: #666666; font-size: 14px; line-height: 21px;">{{title}}</font>
                        </td>
                    </tr>
                    <tr>
                        <td width="10"></td>
                        <td width="309" height="5">
                            <font style="font-family: Google Sans, Roboto, sans-serif; color: #1a73e8; font-size: 14px; line-height: 21px;">{{primaryEmail}}</font>
                        </td>
                    </tr>
                    <tr>
                        <td width="10"></td>
                        <td width="309" height="5">
                            <font style="font-family: Google Sans, Roboto, sans-serif; color: #666666; font-size: 14px; line-height: 21px;">{{phone0}}</font>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>

</html>